:root { 
  --amethyst: #6f5c94;
  --black: #000000;
  --black-2: #00000024;
  --cyber-grape: #594b76;
  --onahau: #c8eeff;
  --persian-indigo: #2f106d;
  --valhalla: #28154d;
  --white: #ffffff;
  --white-2: #ffffff3b;
  --winter-wizard: #a2e2fe;
 
  --font-size-l: 9px;
  --font-size-m: 8px;
  --font-size-s: 6px;
  --font-size-xl: 10px;
  --font-size-xxl: 14px;
  --font-size-xxxl: 15px;
  --font-size-xxxxl: 20px;
 
  --font-family-spinnaker: "Spinnaker", Helvetica;
}
.spinnaker-normal-onahau-9px {
  color: var(--onahau);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-onahau-8px {
  color: var(--onahau);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-onahau-10px {
  color: var(--onahau);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-amethyst-9px {
  color: var(--amethyst);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-white-9px {
  color: var(--white);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-onahau-12px {
  color: var(--onahau);
  font-family: var(--font-family-spinnaker);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-onahau-6px {
  color: var(--onahau);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-spinnaker);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-winter-wizard-14px {
  color: var(--winter-wizard);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-persian-indigo-12px {
  color: var(--persian-indigo);
  font-family: var(--font-family-spinnaker);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-winter-wizard-12px {
  color: var(--winter-wizard);
  font-family: var(--font-family-spinnaker);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.spinnaker-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-spinnaker);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.border-1px-onahau {
  border: 1px solid var(--onahau);
}

.border-1px-white {
  border: 1px solid var(--white);
}
