.calendar_bottom {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 1241px;
  min-width: 128px;
  padding: 2.0px 0.0px;
  position: fixed;
  top: 32px;
  z-index: 4;
}

.calendar {
  letter-spacing: 0;
  min-height: 15px;
  width: 89px;
}

.calendar_bottom.calendar_bottom-1 {
  left: 759px;
  z-index: 3;
}

.calendar_bottom.calendar_bottom-2 {
  left: 529px;
  top: 34px;
}

