.group-5 {
  display: flex;
  width: 376px;
}

.month_2 {
  align-items: flex-start;
  display: flex;
  margin-top: 4px;
  min-width: 62px;
}

.overlap-group1 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 60px;
  min-width: 60px;
  padding: 23px 0;
}

.month_name {
  letter-spacing: 0;
  margin-left: -1px;
  min-height: 11px;
  text-align: center;
  width: 60px;
}

.event_card_2 {
  align-items: flex-start;
  display: flex;
  height: 67px;
  margin-left: 51px;
  min-width: 269px;
}

.event_-container {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 67px;
  padding: 8px 9px;
  width: 263px;
}

.event_number {
  align-self: center;
  letter-spacing: 0;
  margin-right: 18.0px;
  margin-top: 2px;
  min-height: 16px;
  min-width: 103px;
}

.event_title {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 9px;
  text-align: center;
  width: 243px;
}

.event_link {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 9px;
  text-align: center;
  width: 243px;
}

.group-5.group-1,
.group-5.group-2,
.group-5.group-3,
.group-5.group-4 {
  margin-top: 57px;
}

.group-5.group-15 {
  margin-top: 86px;
}

.group-5.group-21,
.group-5.group-21-1,
.group-5.group-21-2 {
  display: flex;
  margin-top: 97px;
  width: 376px;
}

.group-5.group-15-1,
.group-5.group-15-2,
.group-5.group-15-3 {
  display: flex;
  margin-top: 60px;
  width: 376px;
}

