.tablet {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 7900px;
  overflow: hidden;
  position: relative;
  width: 768px;
}

.overlap-group18 {
  height: 9065px;
  margin-left: -206px;
  position: relative;
  width: 1571px;
  z-index: 1;
}

.background-2 {
  background-color: var(--valhalla);
  height: 9065px;
  left: 195px;
  position: absolute;
  top: 0;
  width: 1147px;
}

.rectangle-1-2 {
  background-color: var(--white-2);
  height: 754px;
  left: 206px;
  position: absolute;
  top: 0;
  width: 769px;
}

.overlap-group-20 {
  align-items: flex-end;
  background-color: var(--black-2);
  display: flex;
  height: 177px;
  justify-content: flex-end;
  left: 0;
  min-width: 811px;
  padding: 20px 81px;
  position: absolute;
  top: 155px;
}

.dao_blockchain_projects-22 {
  letter-spacing: 0;
  min-height: 113px;
  text-align: right;
  width: 364px;
}

.projects_page-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 1200px;
  left: 206px;
  overflow: hidden;
  position: absolute;
  top: 754px;
  width: 768px;
}

.overlap-group12-2 {
  align-items: center;
  background-color: var(--valhalla);
  display: flex;
  flex-direction: column;
  margin-bottom: -725px;
  min-height: 1925px;
  padding: 118px 86px;
  width: 1017px;
}

.dao_blockchain_projects-23 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 76px;
  min-height: 35px;
}

.flex-row-5 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 522px;
  margin-top: 29px;
  min-width: 596px;
}

.flex-col-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 449px;
  width: 263px;
}

.dao_blockchain_projects-24 {
  letter-spacing: 0;
  margin-right: 15.0px;
  min-height: 16px;
  min-width: 134px;
}

.overlap-group-14 {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  min-height: 89px;
  padding: 11px 9px;
  width: 263px;
}

.number-14 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 18.0px;
  margin-top: 1px;
  min-height: 16px;
  min-width: 103px;
}

.title-4 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 9px;
  text-align: center;
  width: 243px;
}

.status-4 {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 9px;
  text-align: center;
  width: 243px;
}

.overlap-group-15 {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 89px;
  padding: 11px 9px;
  width: 263px;
}

.number-15 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 15.0px;
  margin-top: 1px;
  min-height: 16px;
  min-width: 106px;
}

.number-16 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 14.0px;
  margin-top: 1px;
  min-height: 16px;
  min-width: 107px;
}

.flex-col-10 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 522px;
  width: 330px;
}

.defi_blockchain_projects-2 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 86.0px;
  min-height: 16px;
  min-width: 134px;
}

.nft_blockchain_projects-2 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-top: 57px;
  min-height: 16px;
}

.overlap-group8-2 {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 200.0px;
  margin-top: 26px;
  min-height: 89px;
  padding: 11px 9px;
  width: 263px;
}

.overlap-group-16 {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 200.0px;
  margin-top: 18px;
  min-height: 89px;
  padding: 11px 9px;
  width: 263px;
}

.overlap-group11-2 {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 200.0px;
  margin-top: 18px;
  min-height: 89px;
  padding: 11px 9px;
  width: 263px;
}

.number-20 {
  letter-spacing: 0;
  margin-right: 14.0px;
  margin-top: 1px;
  min-height: 16px;
  min-width: 107px;
}

.overlap-group-21 {
  height: 10px;
  margin-top: 12px;
  position: relative;
  width: 243px;
}

.title-5 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 243px;
}

.full-stack-nft-marke-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 243px;
}

.status-5 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 9px;
  text-align: center;
  width: 243px;
}

.courses_page-2 {
  align-items: center;
  background-color: var(--valhalla);
  display: flex;
  height: 900px;
  left: 206px;
  overflow: hidden;
  padding: 64px 0;
  position: absolute;
  top: 1954px;
  width: 768px;
}

.dao_blockchain_projects-25 {
  letter-spacing: 0;
  margin-bottom: 289.0px;
  margin-left: -100px;
  min-height: 35px;
  min-width: 97px;
}

.flex-col-11 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 71px;
  min-height: 718px;
  width: 666px;
}

.dao_blockchain_projects-26 {
  letter-spacing: 0;
  margin-right: 17.0px;
  min-height: 35px;
  text-align: center;
  width: 477px;
}

.graph2-2 {
  height: 184px;
  margin-right: 33.0px;
  margin-top: 19px;
  width: 199px;
}

.overlap-group-container-10 {
  align-items: flex-start;
  display: flex;
  height: 226px;
  min-width: 666px;
}

.overlap-group1-5 {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 226px;
  padding: 24px 22px;
  width: 321px;
}

.course_topics2 {
  letter-spacing: 0;
  min-height: 48px;
  width: 274px;
}

.course_description2 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 82px;
  width: 274px;
}

.overlap-group-17 {
  align-items: center;
  align-self: center;
  background-color: var(--onahau);
  border-radius: 20px;
  display: flex;
  height: 40px;
  margin-right: 21.0px;
  min-width: 40px;
  padding: 0 2px;
}

.percent-2 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 34px;
}

.overlap-group2-1 {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 226px;
  padding: 24px 22px;
  width: 321px;
}

.overlap-group3-3 {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 45.0px;
  margin-top: 28px;
  min-height: 226px;
  padding: 24px 22px;
  width: 321px;
}

.nftview_page-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 1500px;
  left: 206px;
  overflow: hidden;
  position: absolute;
  top: 2903px;
  width: 768px;
}

.overlap-group13-2 {
  align-items: flex-start;
  background-color: var(--valhalla);
  display: flex;
  flex-direction: column;
  margin-bottom: -839px;
  margin-left: -29px;
  min-height: 2339px;
  padding: 152px 56px;
  width: 1440px;
}

.dao_blockchain_projects-27 {
  letter-spacing: 0;
  min-height: 35px;
  text-align: center;
  width: 735px;
}

.overlap-group-container-11 {
  align-items: flex-start;
  display: flex;
  margin-left: 76px;
  margin-top: 39px;
  min-width: 579px;
}

.overlap-group-18 {
  height: 262px;
  position: relative;
  width: 263px;
}

.eth-16,
.eth-17,
.eth-18,
.eth-19,
.eth-20,
.eth-21,
.eth-22,
.eth-23 {
  height: 17px;
  left: 190px;
  position: absolute;
  top: 228px;
  width: 10px;
}

.nft_card-2 {
  border-radius: 10px;
  height: 259px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 263px;
}

.surname-2 {
  left: 179px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 78px;
}

.collection-2 {
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 216px;
  width: 95px;
}

.number-17 {
  left: 13px;
  letter-spacing: 0;
  position: absolute;
  top: 233px;
  width: 114px;
}

.value-2 {
  left: 195px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 232px;
  width: 47px;
}

.rectangle-38-2 {
  background-color: var(--black);
  height: 199px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.number-18 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 184px;
  width: 213px;
}

.number-19 {
  left: 75px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 91px;
  width: 114px;
}

.overlap-group-19 {
  height: 262px;
  margin-left: 53px;
  position: relative;
  width: 263px;
}

.overlap-group-container-12 {
  align-items: flex-start;
  display: flex;
  margin-left: 76px;
  margin-top: 38px;
  min-width: 578px;
}

.overlap-group3-4 {
  height: 262px;
  margin-left: 52px;
  position: relative;
  width: 263px;
}

.overlap-group-container-13 {
  align-items: flex-start;
  display: flex;
  margin-left: 72px;
  margin-top: 38px;
  min-width: 579px;
}

.overlap-group-container-14 {
  align-items: flex-start;
  display: flex;
  margin-left: 66px;
  margin-top: 38px;
  min-width: 579px;
}

.foot-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 170px;
  left: 206px;
  overflow: hidden;
  position: absolute;
  top: 7730px;
  width: 768px;
}

.redes_socias-container-2 {
  align-items: flex-start;
  background-color: var(--amethyst);
  display: flex;
  height: 170px;
  min-width: 1594px;
  padding: 32px 163px;
}

.redes_socias-1-2 {
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.redes_socias-2-2 {
  cursor: pointer;
  height: 44px;
  margin-left: 155px;
  width: 44px;
}

.redes_socias-3-2 {
  cursor: pointer;
  height: 44px;
  margin-left: 186px;
  width: 44px;
}

.reports_page-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 1800px;
  left: 206px;
  overflow: hidden;
  position: absolute;
  top: 5893px;
  width: 768px;
}

.overlap-group15-2 {
  align-items: flex-start;
  background-color: var(--valhalla);
  display: flex;
  flex-direction: column;
  margin-bottom: -384px;
  margin-left: -143px;
  min-height: 2184px;
  padding: 122px 165px;
  width: 1440px;
}

.dao_blockchain_projects-28 {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 35px;
  text-align: center;
  width: 643px;
}

.flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 1138px;
  margin-top: 27px;
  min-width: 737px;
}

.overlap-group-container-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1138px;
  width: 364px;
}

.report_-container-5 {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 265px;
  padding: 15px 1px;
  width: 364px;
}

.report_topics-2 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 12.0px;
  margin-top: 10px;
  min-height: 66px;
  width: 310px;
}

.report_description-2 {
  letter-spacing: 0;
  margin-top: 15px;
  min-height: 145px;
  width: 342px;
}

.report_-container-6 {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  min-height: 265px;
  padding: 15px 1px;
  width: 364px;
}

.overlap-group-container-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  min-height: 1138px;
  width: 364px;
}

.report_-container-7 {
  align-items: flex-end;
  align-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 318.0px;
  margin-top: 26px;
  min-height: 265px;
  padding: 15px 1px;
  width: 364px;
}

.calendar_page-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1541px;
  left: 206px;
  overflow: hidden;
  position: absolute;
  top: 4403px;
  width: 768px;
}

.overlap-group16-2 {
  align-items: flex-start;
  background-color: var(--valhalla);
  display: flex;
  flex-direction: column;
  min-height: 1541px;
  padding: 173px 195px;
  position: relative;
  width: 1440px;
}

.dao_blockchain_projects-29 {
  letter-spacing: 0;
  margin-left: 89px;
  margin-top: 1px;
  min-height: 35px;
  text-align: center;
  width: 287px;
}

.overlap-group17 {
  align-items: flex-start;
  background-color: var(--black-2);
  display: flex;
  height: 195px;
  left: 290px;
  min-width: 1279px;
  padding: 19.2px 34px;
  position: absolute;
  top: 405px;
}

.dao_blockchain_projects-30 {
  letter-spacing: 0;
  min-height: 122px;
  width: 289px;
}

.ayana_droid-2 {
  height: 522px;
  left: 610px;
  position: absolute;
  top: 232px;
  width: 364px;
}

.rectangle-2-2 {
  background-color: var(--cyber-grape);
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  transform: rotate(-180deg);
  width: 769px;
  z-index: 2;
}

.ayana_verse-1-2 {
  cursor: pointer;
  height: 88px;
  left: 13px;
  position: fixed;
  top: 6px;
  width: 199px;
  z-index: 3;
}

