.projects_bottom {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 866px;
  min-width: 129px;
  padding: 3.8px 0;
  position: fixed;
  top: 36px;
  z-index: 7;
}

.projects {
  letter-spacing: 0;
  min-height: 15px;
  width: 90px;
}

.projects_bottom.projects_bottom-1 {
  left: 442px;
  z-index: 6;
}

.projects_bottom.projects_bottom-2 {
  left: 247px;
  top: 38px;
}

