.nft_view_bottom {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 1124px;
  min-width: 118px;
  padding: 1.9px 0;
  position: fixed;
  top: 37px;
  z-index: 5;
}

.nft_view {
  letter-spacing: 0;
  min-height: 15px;
  width: 79px;
}

.nft_view_bottom.nft_view_bottom-1 {
  left: 665px;
  z-index: 4;
}

.nft_view_bottom.nft_view_bottom-2 {
  left: 435px;
  top: 39px;
}

